apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../components/resources/portworx/storagecluster/aws
  - ../../../../secrets/cloud_credentials/aws
patches:
  - target:
      kind: StorageCluster
      name: replace-me
      namespace: portworx
    patch: |-
      - op: replace
        path: /metadata/name
        value: aws-sc
  - target:
      kind: Secret
      name: cloud-creds
      namespace: replace-me
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: portworx
generators:
  - ./credentials_generator.yaml
