volumes:
  ansible-data-vol:
    external: true
services:
  deploy:
    depends_on:
      confirm_config_usable:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: include/containerfiles/Containerfile
    volumes:
      - ansible-data-vol:/data
      - $PWD/deploy.yaml:/work/deploy.yaml
      - $PWD/tasks:/work/tasks
      - "$CONTAINER_SOCK:/container_engine.sock"
    working_dir: /work
    entrypoint: bash
    privileged: true
    environment:
      - ANSIBLE_FORCE_COLOR=true
      - CLUSTER_KEY_FP
      - CONTAINER_BIN
      - CONTAINER_HOST=unix:///container_engine.sock
      - DOCKER_HOST=unix:///container_engine.sock
    command:
      - -c
      - |-
        ansible-playbook --extra-vars '@/data/config.yaml' \
          --extra-vars cluster_key_fp=$CLUSTER_KEY_FP \
          deploy.yaml |
          grep --color=always -Ev --line-buffered 'included: /work/tasks'
  confirm_config_usable:
    build:
      context: .
      dockerfile: include/containerfiles/Containerfile
    volumes:
      - ansible-data-vol:/data
    working_dir: /data
    entrypoint: bash
    command:
      - -c
      - 'test -f /data/config.yaml && grep -vq AES256_GCM /data/config.yaml'
