---
- set_fact:
    ns: "managed-cluster-{{ cloud }}"

- name: "[{{ ns }}] Wait for the managed cluster to become ready"
  when: env.acm_config.role == "primary"
  kubernetes.core.k8s_info:
    kubeconfig: "{{ env.cluster.kubeconfig }}"
    kind: ClusterDeployment
    namespace: "{{ ns }}"
    label_selectors:
      - "hive.openshift.io/cluster-platform = {{ cloud }}"
    wait: yes
    wait_sleep: 5
    wait_timeout: 600
    wait_condition:
      type: Ready
      status: True

- name: "[{{ ns }}] Get the managed cluster's kubeconfig"
  when: env.acm_config.role == "primary"
  register: data
  kubernetes.core.k8s_info:
    kubeconfig: "{{ env.cluster.kubeconfig }}"
    kind: Secret
    namespace: "{{ ns }}"
    label_selectors:
      - hive.openshift.io/secret-type = kubeconfig

- set_fact:
    "managed_cluster_kubeconfig_{{ cloud }}": "{{ data.resources[0].data.kubeconfig | b64decode | from_yaml }}"
  when: data.resources is defined
