---
- set_fact:
    git_repo_basename: "{{ (common.gitops.repo.location.url | split('/') | last) }}"

- set_fact:
    git_repo_secret_ref: "git-repo-{{ git_repo_basename }}"

- name: "[{{ env.name }}] Add Git Repository SSH key"
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ env.cluster.kubeconfig | from_yaml }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ git_repo_secret_ref }}"
        namespace: flux-system
      type: Opaque
      stringData:
        identity: "{{ common.gitops.repo.secrets.ssh_key }}"
        known_hosts: "{{ common.gitops.repo.settings.known_hosts }}"

- name: "[{{ env.name }}] Add Git Repository sOps private key"
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ env.cluster.kubeconfig | from_yaml }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: cluster-key
        namespace: flux-system
      type: Opaque
      data:
        sops.asc: "{{ common.gitops.repo.secrets.cluster_gpg_key | b64encode }}"

- name: "[{{ env.name }}] Add private key to ArgoCD namespace (so that managed clusters can re-use cluster secrets)"
  when: env.acm_config.role == "primary"
  block:
    - kubernetes.core.k8s:
        state: present
        kubeconfig: "{{ env.cluster.kubeconfig | from_yaml }}"
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: openshift-gitops

    - kubernetes.core.k8s:
        state: present
        kubeconfig: "{{ env.cluster.kubeconfig | from_yaml }}"
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: cluster-key
            namespace: openshift-gitops
          type: Opaque
          data:
            sops.asc: "{{ common.gitops.repo.secrets.cluster_gpg_key | b64encode }}"

- name: "[{{ env.name }}] Configure Flux and connect cluster to this repository"
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ env.cluster.kubeconfig | from_yaml }}"
    definition:
      apiVersion: fluxcd.controlplane.io/v1
      kind: FluxInstance
      metadata:
        name: flux
        namespace: flux-system
        annotations:
          fluxcd.controlplane.io/reconcileEvery: 1h
      spec:
        distribution:
          version: 2.x
          registry: ghcr.io/fluxcd
        components:
          - source-controller
          - kustomize-controller
          - helm-controller
          - notification-controller
          - image-reflector-controller
          - image-automation-controller
        cluster:
          type: openshift
        sync:
          kind: GitRepository
          name: cluster-config
          url: "{{ common.gitops.repo.location.url }}"
          ref: "refs/heads/{{ common.gitops.repo.location.ref }}"
          path: "infra/acm_hubs/{{ env.acm_config.role }}"
          pullSecret: "{{ git_repo_secret_ref }}"
