---
- name: "[{{ env }}] Retrieving kubeconfig for ACM hub in source environment: {{ env }}"
  set_fact:
    source_kubeconfig: "{{ (environments | selectattr('name', 'equalto', env) | first)['cluster']['kubeconfig'] }}"

- fail:
    msg: "Kubeconfig not found for cluster in '{{ environment }}'"
  when: source_kubeconfig == ""

- name: "[{{ env }}] Retrieving kubeconfig for ACM hub in environment to import: {{ env_to_import }}"
  set_fact:
    imported_kubeconfig: "{{ (environments | selectattr('name', 'equalto', env_to_import) | first)['cluster']['kubeconfig'] }}"

- fail:
    msg: "Kubeconfig not found for cluster in '{{ env_to_import }}'"
  when: imported_kubeconfig == ""

- name: "[{{ env }}] Checking that a provisioned cluster exists within ACM hub containing env to import: {{ env_to_import }}"
  register: deployments
  kubernetes.core.k8s_info:
    kubeconfig: "{{ imported_kubeconfig | from_yaml }}"
    api_version: hive.openshift.io/v1
    kind: ClusterDeployment

- set_fact:
    found_deployments: |-
      {{
        deployments.resources |
        json_query('[?contains(metadata.name, `managed-cluster-' + env_to_import + '`) &&
                      contains(status.conditions[].reason, `Provisioned`)]')
      }}

- fail:
    msg: "Couldn't find a provisioned ClusterDeployment in env to import: {{ env_to_import }}"
  when: found_deployments == None or found_deployments | length == 0

- name: "[{{ env }}] Waiting 60 secs for Flux to create auto-import-secret in the source ACM hub"
  register: result
  kubernetes.core.k8s_info:
    kubeconfig: "{{ source_kubeconfig | from_yaml }}"
    kind: Secret
    name: auto-import-secret
    namespace: openshift-multicluster-engine
    label_selectors:
      - kustomize.toolkit.fluxcd.io/name = imported-clusters-{{ env }}
  retries: 60
  delay: 1
  until: result != None and (result.resources | length) > 0

- name: "[{{ env }}] Waiting 45m for Hive to post a Kubeconfig for the managed-cluster-{{ env_to_import }} Deployment"
  register: result
  kubernetes.core.k8s_info:
    kubeconfig: "{{ imported_kubeconfig | from_yaml }}"
    api_version: v1
    kind: Secret
    namespace: openshift-multicluster-engine
    label_selectors:
      - hive.openshift.io/secret-type = kubeconfig
  retries: 2700
  delay: 1

- set_fact:
    managed_cluster_kubeconfig: |-
      {{
        (
          result.resources |
          json_query('[?contains(metadata.name, `managed-cluster-' + env_to_import + '`)]') |
          first
        ).data['raw-kubeconfig']
      }}

- fail:
    msg: "Couldn't find a kubeconfig for a managed cluster in env to import: {{ env_to_import }}"
  when: managed_cluster_kubeconfig == ""

- name: "[{{ env }}] Patching auto-import-secret for the imported ManagedCluster"
  kubernetes.core.k8s_json_patch:
    kubeconfig: "{{ source_kubeconfig | from_yaml }}"
    kind: Secret
    name: auto-import-secret
    namespace: openshift-multicluster-engine
    patch:
      - op: replace
        path: /stringData/kubeconfig
        value: managed_cluster_kubeconfig
