---
- name: "[{{ env }}] Waiting 45m for a cluster to become provisioned within ACM hub containing env to import: {{ env_to_import }}"
  block:
    - set_fact:
        attempts: "{{ 0 if attempts is undefined else attempts | int + 1 }}"

    - register: deployments
      kubernetes.core.k8s_info:
        kubeconfig: "{{ imported_kubeconfig | from_yaml }}"
        api_version: hive.openshift.io/v1
        kind: ClusterDeployment

    - set_fact:
        found_deployments: |-
          {{
            deployments.resources |
            json_query('[?contains(metadata.name, `managed-cluster-' + env_to_import + '`) &&
                          contains(status.conditions[].reason, `Provisioned`)]')
          }}

    - fail:
        msg: "({{ attempts }}/{{ max_attempts }}) Couldn't find a provisioned ClusterDeployment in env to import: {{ env_to_import }}"
      when: found_deployments == None or found_deployments | length == 0
  rescue:
    - fail:
        msg: "Couldn't find a provisioned ClusterDeployment in env to import after {{ max_attempts }} seconds: {{ env_to_import }}"
      when: attempts is not undefined and attempts == ( max_attempts | int )

    - pause:
        seconds: 1

    - include_tasks: wait_for_provisioned_deployment.yaml
