apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../components/resources/portworx/storagecluster/gcp
  - ../../../../secrets/cloud_credentials/gcp
patches:
  - target:
      kind: StorageCluster
      name: replace-me
    patch: |-
      - op: replace
        path: /metadata/name
        value: aws-sc
  - target:
      kind: Secret
      name: cloud-creds
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: portworx
